
#imagen{
    position: relative;
    width: 100%;
    padding-bottom:100px;
}
#imagen2{
    position: absolute;
    right: 0px;
}
.div-tabs h2{
    padding-top: 40px;
    padding-bottom: 40px;
}
p{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.tabs {
    margin: 0 auto;
    width: 800px;
}
/*esta clase que peretenece al Ul que contiene los enlaces
se le da un margin-bottom de -1px para que de el efecto de que son un mismo componente*/
.tabs-lista {
    list-style: none;
    margin-bottom: -1px;
}

.tabs-menu {
    float: left;
    padding: 10px 35px;
    color: rgb(214, 122, 60);
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(224, 152, 104);
    border: 1px solid rgb(224, 152, 104);
}

.div-tabs {
    padding: 20px;
    color: #eee;
    background-color:rgb(214, 122, 60);
    border: 1px solid rgb(214, 122, 60);
}

/*Clase que cambia el estilo de los links cuando es llamado por el Js*/
.js-activo{
    background-color: rgb(214, 122, 60);;
    border-bottom: 1px solid rgb(214, 122, 60);
    color: #eee;
}

/*Clase para ocultar el contenido*/
.js-contenido-oculto{
    display: none;
}