#footer{
    margin-top: 100px;
    background-color:rgb(214, 122, 60);;
    width: 100%;
    padding : 60px 0 60px 0;
    position: relative;
}
#imagen3{
    position: absolute;
    right: 0px;
    top: 0px;
}